* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading-paragraphs: "Staatliches", cursive;
  --ff-texting: "Palanquin", sans-serif;

  --bg-primary-color: hsla(218.2, 17.1%, 62.2%);
  --bg-secondary-color: hsla(233, 100%, 97%, 1);
  --bg-tertiary-color: hsla(312, 91%, 96%, 1);

  --fc-h1: hsla(0, 0%, 100%, 1);
  --fc-paragraphs: hsla(274, 84%, 12%, 1);
  --fc-p: hsla(232, 17%, 35%, 1);

  --fs-body: 1.6rem;
  font-size: 62.5%;
}

body {
  background: var(--bg-secondary-color);
  font-size: var(--fs-body);
}

.page {
  margin: 0 auto;
  max-width: 42.8rem;
}

@media (min-width: 700px) {
  .page {
    max-width: 110rem;
  }
}

header {
  text-align: center;
  background: var(--bg-primary-color);
  max-width: 42.8rem;
  height: 28rem;
}

h1 {
  font-family: var(--ff-heading-paragraphs);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: var(--fc-h1);
  padding: 1.1rem;
  background: hsla(275, 18%, 79%, 1);
}

main {
}

.wrapper-cards-and-paragraph {
  display: grid;
  gap: 3.2rem;
  padding: 1.4rem 3.2rem 6rem;
}

.paragraph {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.9rem;
  font-family: var(--ff-texting);
  color: var(--fc-paragraphs);
  margin: 0.6rem 0 7rem 0;
  padding: 0 4rem;
}

.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation: uptop 700ms 350ms backwards;
}

.sub-paragraphs {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-family: var(--ff-heading-paragraphs);
  font-weight: 400;
  font-size: 2rem;
  color: var(--fc-p);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding: 0.1rem 2.4rem;
  border-radius: 2rem;
  background: var(--bg-tertiary-color);

  animation: topdown 700ms;
}

.card {
  position: relative;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes uptop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
